service: medi-connect-backend
frameworkVersion: '3'
useDotenv: true  

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: dev
  environment:
    DATABASE_URL: ${env:DATABASE_URL} 
    STAGE: dev

plugins:
  - serverless-esbuild
  - serverless-offline
  

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    exclude: ['aws-sdk']
    target: 'node18'
    platform: 'node'
    concurrency: 10
  serverless-offline:
    httpPort: 3000
    noPrependStageInUrl: true 

functions:
  doctorsHandler:
    handler: src/doctors/handler.handler
    events:
      - httpApi:  
          path: /api/doctors/profile
          method: GET
      - httpApi:  
          path: /api/doctors/profile
          method: PUT
      - httpApi: 
          path: /api/doctors/appointments
          method: GET